In [1]:
#import necessary libraries
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from sklearn.impute import SimpleImputer

In [2]:
titanic = pd.read_csv('Titanic Data.csv')

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# 1. Age Distribution using histogram

In [5]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
median = titanic['Age'].median()
titanic['Age'].fillna(median,inplace=True)

In [7]:
fig = px.histogram(titanic,x="Age",bins=12)
fig.show()

TypeError: histogram() got an unexpected keyword argument 'bins'

# 2. Age distribution based on gender using histogram

# 3. Using df.corr() identify correlation within the data, represent results using form of matrix plot

In [ ]:
df =titanic.corr()
df

In [ ]:
fig = px.scatter_matrix(df)
fig.show()

# 4. Pivot the data setting the column Pclass as the columns and Fare as the values. From the resulting structure, use a boxplot to show the distribution of the values in its 3 columns

# 5. Graph the value counts of the number of passengers who survived and did not survive based on gender using a stacked bar graph.

In [ ]:
survivor = titanic['Survived'].value_counts()
survivor

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data=[
    go.Bar(name='Survived',x=survivor),
    go.Bar(name='No Survive',x=survivor)
])
# Change the bar mode
fig.update_layout(barmode='stack')
fig.show()

# 6. Using a scatter plot, plot the ages to the fare paid by the each passenger based on their gender.

In [ ]:
male = titanic[titanic.Sex == 'male'].iloc[:,:]
male.head()

In [ ]:
female = titanic[titanic.Sex == 'female'].iloc[:,:]
female.head()

In [ ]:
trace1 = go.Scatter(
                    x = male['Age'],
                    y = male.Fare,
                    mode = "markers",
                    name = "Male",
                    marker = dict(color = 'rgba(255,128,255,0.8)'),
                    text = male.Sex)

trace2 = go.Scatter(
                    x = female['Age'],
                    y = female.Fare,
                    mode = "markers",
                    name = "Female",
                    marker = dict(color = 'rgba(255,128,2,0.8)'),
                    text = female.Sex)

data = [trace1,trace2]

layout = dict(title="Fare paid by passenger based on gender",
              xaxis = dict(title="Ages",ticklen=5,zeroline=False),
              yaxis = dict(title="Fare",ticklen=5,zeroline=False))

fig= go.Figure(dict(data = data, layout = layout))
fig.show()

# 7. Plot a bubble plot of the ages to the fare paid by each passenger categorizing whether they survived or not. The size of each bubble should be determined by the passenger class and the name of each individual as the hover name

In [ ]:
titanic.columns

In [ ]:
data = [
    {
    'y':titanic.Age,
    'x':titanic.Fare,
    'mode': 'markers',
    'marker':{
        'color':titanic.Survived,
        'size':titanic.Pclass,
        'showscale': True
    },
    'text': titanic.Name 
    }   
]

fig = go.Figure(data)
fig.show()